
.container {
    display: flex;
    justify-content: center;
}
.item {
   margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.item:hover {
    background-color: grey;
}
.active {
    composes: item;
    font-size: 20px;
    font-weight: 600;
    color: red
}