# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/Homework/20exercise/1-2Class.js
/src/Homework/20exercise/1-2Func.js
/src/Homework/20exercise/3Class.js
/src/Homework/20exercise/3Func.js
/src/Homework/20exercise/4Class.js
/src/Homework/20exercise/4Func.js
/src/lifecoding/AdditionalHooks.js
/src/lifecoding/customButton.js
/src/lifecoding/DataSource.js
/src/Homework/19exercise/eighth.js
/src/Homework/18exercise/first.js
/src/Homework/19exercise/first.js
/src/Homework/19exercise/fourth-fifth.js
/src/lifecoding/HOC.js
/src/lifecoding/HookStateCallback.js
/src/Homework/18exercise/index.js
/src/Homework/19exercise/index.js
/src/Homework/20exercise/index.js
/src/lifecoding/index.js
/src/lifecoding/learnLodash.js
/src/Homework/19exercise/ninth.js
/src/lifecoding/Optimization.js
/src/lifecoding/Portal.js
/.idea/inspectionProfiles/Project_Default.xml
/src/lifecoding/ReactRouting.js
/src/lifecoding/ref.js
/src/lifecoding/Requests.js
/.idea/runConfigurations.xml
/src/Homework/18exercise/second.js
/src/Homework/19exercise/second.js
/src/Homework/19exercise/seventh.js
/src/lifecoding/ShowContext.js
/src/Homework/19exercise/sixth.js
/src/lifecoding/style.css
/src/lifecoding/style.module.css
/src/Homework/19exercise/third.js
/src/lifecoding/Type.js
/.idea/vcs.xml
/.idea/workspace.xml
